*{
  box-sizing:border-box;
  font-family:system-ui;
}

body{
  margin:0;
  padding:12px;
  background:#f4f6f8;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:12px;
}

#liveStatus{
  font-size:.8rem;
}

.online{color:#16a34a;}
.offline{color:#dc2626;}
.live{color:#2563eb;font-weight:600;}

/* CARDS */
.card{
  background:white;
  padding:14px;
  border-radius:14px;
  margin-bottom:12px;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
}

h3{
  margin-top:0;
}

/* INPUTS */
input,select,button{
  width:100%;
  padding:10px;
  margin-top:8px;
  border-radius:8px;
  border:1px solid #d1d5db;
  font-size:1rem;
}

button{
  background:#2563eb;
  color:white;
  border:none;
}

button.danger{
  background:#dc2626;
}

/* BUS LIST */
.bus{
  background:white;
  padding:12px;
  border-radius:12px;
  margin-bottom:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.06);
}

.bus strong{
  display:block;
  margin-bottom:6px;
}
